/*
preto: rgb(21,21,21); 
amarelin: rgb(223,218,192);
verdin: rgb(63,205,55);
*/

@import url(css/base/normalize.css);

/* por algum motivo eu tenho que importar essa fonte duas vezes para ela funcionar, nao me pergunte o porque */
@font-face {
    font-family: 'Tungsten';
    src: url(fontes/FontsFree-Net-Tungsten-Bold.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Tungsten';
    src: url(fontes/FontsFree-Net-Tungsten-Bold.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Valorant';
    src: url(fontes/Valorant-Font.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'DINNextW1G';
    src: url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.eot");
    src: url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/7bb508fd7255ec38b6f29cb4cf8668cf.svg#DINNextW1G-Regular")format("svg");
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(21, 21, 21);
    color: rgb(223, 218, 192);
    font-family: 'DINNextW1G';
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    max-width: 1924px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header figure {
    margin: 20px;
    display: flex;
    align-items: center;
}

header figure img {
    width: 400px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Valorant';
    font-size: 1.3rem;
}

.menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: rgb(223, 218, 192);
    border: transparent 2px solid;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.menu li .destaque {
    color: rgb(63, 205, 55);
    border: rgb(63, 205, 55) 2px solid;
    padding: 10px;
    border-radius: 20px;
}

.menu a:hover {
    color: rgb(63, 205, 55);
    border: rgb(63, 205, 55) 2px solid;
}

.barra-nav {
    width: 100%;
    background-color: rgb(71, 71, 71);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
}

main {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}

h2 {
    font-family: Valorant;
    font-size: 2rem;
    margin: 20px
}

h3 {
    font-family: Tungsten;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.noticias {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.noticias div {
    margin: 0 auto;
}

.noticias img {
    max-width: 400px;
    min-width: 100px;
    display: block;
    border-radius: 20px;
    transition: 0.3s;
}

.noticias img:hover {
    transform: scale(1.1);
}

.noticias ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    max-width: 1320px;
    margin: 0 auto;
}

.noticias li {
    margin: 20px;
    width: 400px;
    flex: 1 1 400px;
}

.noticias p {
    margin-top: 10px;
    text-align: center;
}

.noticias a {
    text-decoration: none;
    color: rgb(223, 218, 192);
}

.wiki {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1924px;
    margin: 0 auto;
}

.wiki h2 {
    margin-left: 50px
}

.wiki ul {
    margin: 20px auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.wiki h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wiki img {
    width: 200px;
}

.wiki-li {
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.wiki-img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.wiki-img:hover {
    transform: scale(1.05);
}

.wiki-info {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;

    padding: 10px;
    opacity: 0;
}

.active div {
    max-height: 300px;
    opacity: 1;
}

.wiki-historico {
    max-width: 1924px;
    margin: 0 auto;
}

.wiki-historico h2 {
    margin-left: 50px
}

.wiki-historico ul {
    margin: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.wiki-historico li {
    margin: 20px;
    max-width: 317px;
}

.wiki-historico span {
    padding: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 3px;
    border: rgb(63, 205, 55) 2px solid;
    border-radius: 12px;
}

.wiki-historico img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 5px;
}

.wiki, .wiki-historico {
    width: 100%;
}

.section-contato {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contato {
    margin-left: 40px;
}

.contato form {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 20px;
}

.contato form input,
.contato form textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
    border: none;
    border-bottom: rgb(223, 218, 192) 2px solid;
    padding: 10px;
    transition: .2s;
    color: #fff;
    font-size: 1.5rem;
}

.contato form textarea {
    font-family: DINNextW1G;
    font-size: 1.6rem;
}

.contato form input:focus,
.contato form textarea:focus {
    border-bottom: rgb(63, 205, 55) 3px solid;
}

.contato form button {
    font-family: Valorant;
    border: transparent 2px solid;
    border-radius: 23px;
    width: 120px;
    padding: 10px;
    background-color: transparent;
    color: rgb(63, 205, 55);
    transition: 0.2s;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 10px;
}

.contato form button:hover {
    border: rgb(63, 205, 55) 2px solid;
}

.barra {
    height: 2px;
    width: 360px;
    background-color: rgb(71, 71, 71);
    margin-top: 10px;
    margin-bottom: 10px;
}

.barrah {
    height: 300px;
    width: 2px;
    background-color: rgb(71, 71, 71);
    margin-left: 20px;
    margin-right: 20px;
}

.informacoes {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.informacoes h3 {
    font-size: 3rem;
}

.informacoes p {
    font-size: 2rem;
}

.imagem img {
    width: 250px;
    margin-left: 60px;
}

.informacoes address {
    font-style: normal;
}

@media screen and (max-width: 1540px) {

    /*CONTATO*/
    .barrah {
        background: transparent;
        width: 0;
        margin: 0;
    }

    /*NOTICIAS*/
    .noticias a {
        display: block;
    }

    .noticias li,
    .noticias p,
    .noticias a {
        max-width: 400px;
    }

    .noticias img {
        width: 400px;
    }
}

@media screen and (max-width: 1310px) {

    /*HEADER*/
    .header {
        justify-content: space-between;
    }

    .menu {
        position: relative;
        margin-right: 30px;
    }

}

@media screen and (max-width: 880px) {

    /*HEADER*/
    .header {
        flex-direction: column;
    }

    header figure img {
        width: 300px;
    }

    .menu {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    /*NOTICIAS*/
    .noticias {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }

    .noticias a {
        display: block;
    }

    .noticias li,
    .noticias p,
    .noticias a {
        max-width: 300px;
    }

    .noticias img {
        width: 300px;
    }

    /*WIKI*/
    .wiki li {
        max-width: 110px;
    }

    .wiki img {
        width: 110px;
    }

    .wiki h3 {
        font-size: 1rem;
    }

    .wiki-info p {
        font-size: .7rem;
    }

    /*CONTATO*/

    .section-contato {
        display: flex;
        flex-direction: column;
    }

    .contato,
    .informacoes {
        max-width: 500px;
        margin: 0;
    }

    .contato form {
        max-width: 500px;
        margin-left: 0;
        margin-bottom: -250px;
    }

    .informacoes h3 {
        font-size: 2rem;
    }

    .informacoes p {
        font-size: 1.5rem;
    }

    .imagem img {
        width: 200px;
        margin-left: 25px;
    }

    .barra {
        width: 270px;
    }

    /*GERAL*/
    .section-contato,
    .noticias,
    main {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 580px) {

    /*CONTATO*/
    .contato form {
        max-width: 300px;
    }

    .informacoes h3 {
        font-size: 1.5rem;
    }

    .informacoes p {
        font-size: 1rem;
    }

    .imagem img {
        width: 100px;
        margin-left: 15px;
    }

    .barra {
        width: 185px;
    }

    .contato form input {
        font-size: 1rem;
    }

    .contato form textarea {
        font-size: 1.1rem;
    }

}