<!-- 
preto: rgb(21,21,21); 
amarelin: rgb(223,218,192);
verdin: rgb(63,205,55);
-->

@font-face {
    font-family: 'Sono';
    src: url(fontes/Sono-Medium.ttf) format('truetype');
  }

@font-face {
    font-family: 'Valorant';
    src: url(fontes/Valorant\ Font.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(fontes/Roboto-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(21,21,21);
    color: rgb(223,218,192);
    font-family: 'Roboto';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header figure {
    margin: 20px;
    display: flex;
    align-items: center;
}

header figure img{
    width: 400px;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Valorant;
    font-size: 1.3rem;
}

.menu ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: rgb(223,218,192);
    border: transparent 2px solid;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.menu li .destaque {
    color: rgb(63,205,55);
    border: rgb(63,205,55) 2px solid;
    padding: 10px;
    border-radius: 20px;
}

.menu a:hover {
    color: rgb(63,205,55);
    border: rgb(63,205,55) 2px solid;
}

h2 {
    font-family: Valorant;
    font-size: 2rem;
}

h3 {
    font-family: Valorant;
    font-size: 1.2rem;
}

.noticias {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
}

.noticias h2 {
    margin: 20px
}

.noticias img {
    width: 400px;
    border-radius: 20px;
    transition: 0.3s;
}

.noticias img:hover {
    transform: scale(1.1);
}

.noticias ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.noticias li {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.noticias p {
    display: flex;
    justify-content: center;
}

.noticias a {
    text-decoration: none;
    color: rgb(223,218,192);
}

.wiki h2 {
    margin: 20px
}

.wiki ul{
    margin: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wiki h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.wiki img {
    width: 200px;
}

.wiki-li {
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.wiki-img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.wiki-img:hover {
    transform: scale(1.05);
}

.wiki-info {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;

    padding: 10px;
    opacity: 0;
}
.active div {
    max-height: 300px;
    opacity: 1;
}
