@font-face {
    font-family: 'Sono';
    src: url('fontes/Sono-Medium.ttf') format('truetype');
  }

@font-face {
    font-family: 'Valorant';
    src: url(fontes/Valorant\ Font.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(fontes/Roboto-Regular.ttf) format('truetype');
}

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: rgb(223,218,192);
    background-color: rgb(21,21,21);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img{
    position: absolute;
}

header div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}  

.cabeçalho {
    font-family: Valorant;
}

h2 {
    font-family: Valorant;
}

a {
    color: rgb(223,218,192);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: rgb(63,205,55);
}

.borda {
    border: 5px solid rgb(223,218,192); 
    border-radius: 10px; 
    transition: border-color 0.3s;
}

.borda:hover{
    border-color: rgb(63,205,55);
}

.news {
    border-radius: 20px;
    transition: 0.3s;
}

.news:hover {
    width: 430px;
    
}
section v{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
section div{
    flex: 1;
    display: flex;
    justify-content: center;
}

figcaption {
    text-align: center;
}
