:root {
    --corPrincipal: rgb(63, 205, 55);
    --corSecundaria: rgb(223, 218, 192);
    --corTerciaria: rgb(21, 21, 21);
    --corTexto: #fff;
    --fonteGeral: 'DINNextW1G';
    --fonteTitulo: 'Valorant';
    --fonteSubtitulo: 'Tungsten';
}

.contato .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    gap: 20px;
}

.contato__form {
    max-width: 600px;
    width: 100%;
    margin: 20px;
    flex: 1 1 400px;
}

.contato__form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.contato__form form input,
.contato__form form textarea {
    background-color: transparent;
    border: none;
    border-bottom: var(--corSecundaria) 2px solid;
    padding: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.contato__form form input::placeholder,
.contato__form form textarea::placeholder {
    font-size: 1.5rem;
}

.contato__form form button {
    color: var(--corTerciaria);
    font-family: var(--fonteTitulo);
    font-size: 1.5rem;
    width: min-content;
    padding: 10px;
    background-color: var(--corSecundaria);
    border: transparent 3px solid;
    border-radius: 10px;
    cursor: pointer;
}

.contato__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.contato__info address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.contato__info h3 {
    font-size: 3rem;
}

.contato__info p {
    font-size: 2rem;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}