@media screen and (max-width: 1200px) {
    /*header*/
    header .container {
        flex-direction: column;
        gap: 30px;
    }

    /*wiki*/
    main.wiki section:first-of-type ul {
        flex-wrap: wrap;
    }

    .wiki .wiki__li {
        flex: 0 0 0;
    }

    .wiki .wiki__li img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    /*wiki*/
    main.wiki section:first-of-type ul:first-of-type {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .wiki .wiki__li {
        scroll-snap-align: start;
    }

    .wiki .wiki__li {
        flex: 1 0 100%;
    }

    .wiki .wiki__li img {
        width: 100%;
        height: auto;
    }

    .wiki ul::-webkit-scrollbar {
        display: none;
    }

    .wiki .carousel-caption {
        padding: 5px;
    }

    .wiki .carousel-caption h3,
    main.wiki .wiki__historico .carousel-caption span {
        font-size: 1.4rem;
    }

    .wiki .carousel-caption p {
        font-size: 1rem;
    }

    /*contato*/
    .contato .contato__form {
        margin: 0;
    }

    .contato .contato__info h3 {
        font-size: 2.2rem;
    }

    .contato .contato__info p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    /*header*/
    header nav a {
        font-size: 1.2rem;
    }

    /*geral*/
    main section,
    main.wiki section {
        margin-left: 0;
    }

    /*noticias*/
    .noticias ul img {
        width: 85%;
    }

    /*contato*/
    .contato__info {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    /*wiki*/
    .wiki .carousel-caption h3,
    main.wiki .wiki__historico .carousel-caption span {
        font-size: 1rem;
    }

    .wiki .carousel-caption p {
        font-size: 0.6rem;
    }
}
