:root {
    --corPrincipal: rgb(63, 205, 55);
    --corSecundaria: rgb(223, 218, 192);
    --corTerciaria: rgb(21, 21, 21);
    --corTexto: #fff;
    --fonteGeral: "DINNextW1G";
    --fonteTitulo: "Valorant";
    --fonteSubtitulo: "Tungsten";
}

.wiki h3 {
    margin-bottom: 10px;
}

.wiki ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
}

.wiki section {
    margin-left: 60px;
    padding: 30px 0;
    width: 90%;
}

.wiki__li,
.wiki__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0;
    text-align: center;
}

.wiki__li {
    flex: 1 1 20%;
    justify-content: start;
}

.wiki__li img {
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    object-fit: contain;
    cursor: pointer;
}

.wiki__li p {
    word-wrap: break-word;
    word-break: break-word;
}

.wiki__li h3 {
    text-shadow: 3px 3px rgba(63, 205, 55, 0.5);
}

.wiki__info {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.wiki__info h3 {
    color: var(--corPrincipal);
    text-shadow: 3px 3px rgba(63, 205, 55, 0.2);
}

.wiki__info h3::first-letter {
    font-family: var(--fonteTitulo);
    color: var(--corPrincipal);
    font-size: 1.8rem;
}

main .wiki__historico {
    padding-top: 0;
    text-align: center;
}

.wiki__historico h2 {
    text-align: left;
}

.wiki__historico img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.wiki__historico
    span:not(.carousel-control-prev-icon):not(.carousel-control-next-icon) {
    padding: 0 7px;
    margin: 3px;
    color: var(--corPrincipal);
    font-family: var(--fonteSubtitulo);
    font-size: 2rem;
    border-left: var(--corPrincipal) 2px solid;
    border-radius: 4px;
}

.wiki__historico h3 {
    font-size: 2.2rem;
    letter-spacing: 0.01rem;
    margin: 15px 0 0 0;
}

.wiki__historico p {
    font-size: 1.5rem;
    border-bottom: 2px solid var(--corPrincipal);
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    width: fit-content;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    width: fit-content;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
